<html lang='en'>
  <head>
    <title>Password Reset Request</title>
  </head>
  <body>
    <h3>Password Reset Request</h3>
    <p>Hi <b>{{name}},</b></p>
    <p>
      We received a request to reset your password. Follow the instructions
      below to proceed.
    </p>
    <p>If you initiated this request, please reset your password by clicking on
      the link below:
      <a href='{{link}}'>Reset Password</a>
    </p>
    <p>If you did not make this request, you can safely ignore this email. Your
      account will remain secure and unchanged.</p>
    <p>Please note that this link is only valid for the next 15 minutes. After
      that, you will need to request a new password reset.</p>
  </body>
</html>